<ul class="hbs-navbar">
  <li><a href="/"><img id="homelink" src="/images/owl-logo-sm-wht.png" onmouseover="this.src='/images/owl-logo-sm-blk.png';" onmouseout="this.src='/images/owl-logo-sm-wht.png';"/></a></li>
  <li><a class="hbs navlink" href="/entries">Entries</a></li>
  <li><a class="hbs navlink" href="/entries/add">Compose</a></li>
</ul>
