<h1>About WHOSE</h1>
<p><strong>We hope to create a community where folks are free to share</strong> 
their experience in a truly honest and personal way. We feel everyone can have this 
freedom if they're not burdened by the judgements of maintaining a public identity 
(or the security concerns of divulging one's actual identity). We have a lot of ideas 
about how to accomplish this, but we also are very interested in hearing other
people's ideas for features.</p>

<p><strong>We're not fully up and running yet,</strong> we still have quite a bit of structural
work before we can really begin adding features. Now that we have a basis to 
work off of, we'll need an internal code testing system for our development 
moving forward. User accounts will be the next important step, in order to 
provide the members of our community the kinds of personal services that can
make sharing worthwhile. We don't want to know or store any identifying info
on users, but people will likely want to follow certain authors, or receive
notifications when someone comments on their posts. Also, people should be 
able to register their pen-names so no one can hijack or sabotage each others'
narratives.</p>

<p><strong>Of course, with freedom also comes with responsibility.</strong> We 
can't be responsible for the content posted by guests, and the availability of 
these services will be dependent on everyone's effort not to abuse the service
in a way that would put anyone in danger. I believe most people will do what they
can to foster a haven of anonymity in a world where privacy has become so scarce.</p>

<p><strong>For now we're allowing everyone to post in a guest capacity,</strong> while we take
the time to ensure that our account system will properly protect the identity
of our users. Until we all have our own accounts, please feel free to email us
with questions, concerns, ideas, and feedback of any kind. Thanks!</p>

<p><h4>sandplunge@gmail.com</h4><p>