<h1>{{title}}</h1>
<p>Welcome to <strong>{{title}}</strong></p>
<p>A place where private lives can be anonymously and publicly shared!
Just need someone to listen? Tired of presenting a public image? Need
someone else's problems to put your own into perspective? Concerned because 
of military contracts and spy patents filed by the social media giants who
know everything about you? </p>
<p>Maybe WhoSE is the place for you! Pull up a chair and truly be yourself!
We're intersted in everything anyone has to say, but we don't want to know
<strong>Who Submits Entries</strong>.</p>
<p>We have a code of conduct, but there's still a lot of room for venting 
about drama (if that's what you need from us). <br>
The terms of use on Whose are Simple Enough<br>
<ul>
  <li>Stick to first names in descriptions of others, and don't post anything
  too personal like addresses, phone numbers, or info that could be used to
  track someone down. Say what you need to while allowing them the same relative 
  anonymity users of WhoSE Should Expect.</li>
  <li>No hate speech please. </li>
</ul>
<p>We are currently under heavy construction, so stay tuned! Currently all
posted entries are considered "guest" posts under the pen name 'anonymous'.
Soon there will by support for individual anonymous accounts with registered
pen-names so you can follow and be followed, get notifications of comments
on your posts, and much more! </p>
