<h1>{{title}}</h1>
<p>Welcome to <strong>{{title}}</strong></p>
<p>A place where private lives can be anonymously and publicly shared!
Just need someone to listen? Tired of presenting a public image? Need
someone else's problems to put your own into perspective? Concerned because 
everything you post on social media is (possibly) analyzed by A.I. that
the defense department has powered by D-Wave's Quantum Annealer computers?</p>
<p>Maybe WhoSE is the place for you! Pull up a chair and truly be yourself!
We're intersted in everything anyone has to say, but we don't want to know
<strong>Who Submits Entries</strong>.</p>
<p>We are currently under heavy construction, so stay tuned!</p>
