
<form method="post" action="/entries/add">
  <br>
  <label>Title</label> <input class="entryform" name="title" type="text" />
  <label>Author</label> <input class="entryform" name="author" type="text" value="anonymous" disabled />
  <br><br>
  <textarea class="entryform" name="content" rows="16"></textarea>
  <br>
  <input class="entryform" type="submit" value="Submit" />
</form>
