
<form method="post" action="/entries/add">
  <label>Title</label> <input name="title" type="text" />
  <label>Author</label> <input name="author" type="text" value="anonymous" disabled />
  <br>
  <textarea name="content" cols="70" rows="32"></textarea>
  <br>
  <input type="submit" value="Submit" />
</form>
